@{
    ViewData["Title"] = "Sobre esse desafio";
}
<h1>@ViewData["Title"]</h1>

<p>Eu tive meu primeiro contato com uma integração de várias tecnologias simultaneamente.<br /> 
    <strong>Ainda é um pequeno passo de muitos!</strong><br />
    <br />
    <strong>Agradecimentos:</strong><br />
    <br />
    -Equipe da Atos<br />
    <br />
    <strong>Mestres:</strong><br />
    <br />
    -Deivison Pasa<br />
    -Ricardo Frohlich<br />
    -Alexandre Zamberlan<br />
    <br />
    <br />
    <strong>Filhos:</strong><br />
    <br />
    Alexandre & Rafael<br />
    <br />
    <strong><h4>Aos parceiros e parceiras do curso que ficaram até de<br/>
        madrugada me ajudando.</h4></strong></p>
