@{
    ViewData["Title"] = "Sobre esse desafio";
}
<h1>@ViewData["Title"]</h1>

<p>Eu tive meu primeiro contato com uma integração de várias tecnologias simultaneamente.<br /> 
    <strong>Usei C#, EF Core, CSS, HTML, JS, SQL, DataTable & BootStrap.</strong><br />
    Ainda é um pequeno passo de muitos.</p>
