*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
}

.grupo-elementos{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 100%;
}

.grupo-elementos-2{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
}

.linha {
    display: flex;
    flex-direction: row;
    width:max-content;
}

.elemento{
    display: flex;
    flex-direction: column;
    height: 63px;
    width: 70px;
    margin-top: auto;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10%;
    margin: 4px;
}

.elemento:hover{
    transform: scale(1.2);
    position:initial;
    border-style:solid;
    border-width: 1px;
    box-shadow: none;
}

.tabela-numero {
    font-size: 12px;
    align-self: flex-start;
    margin-left: 5px;
    margin-top: 2px;
}
.elemento-abreviado{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.massa-atomica {
    font-size: 12px;
}

.vazio {
    height: 63px;
    width: 70px;
    margin: 4px;
}

.nao-metais{
    background-color: #a1d344;
    box-shadow: 2px 2px  #a1d344;
}

.metais-alcalinos{
    background-color: #f1b200;
    box-shadow: 2px 2px  #f1b200;
}

.metais-alcalinos-terrosos{
    background-color: #eada00;
    box-shadow: 2px 2px  #eada00;
}

.metais-transicao{
    background-color: #eb8e8e;
    box-shadow: 2px 2px  #eb8e8e;
}

.semimetais{
    background-color: #4db6ac;
    box-shadow: 2px 2px  #4db6ac;
}

.outros-metais{
    background-color: #a2c7d3;
    box-shadow: 2px 2px  #a2c7d3;
}

.halogenios{
    background-color: #70cbeb;
    box-shadow: 2px 2px  #70cbeb;
}

.gases-nobres{
    background-color: #3d9ee3;
    box-shadow: 2px 2px  #3d9ee3;
}

.lantanideos{
    background-color: #90e3e9;
    box-shadow: 2px 2px  #90e3e9;
}

.actinideos{
    background-color: #dcadd6;
    box-shadow: 2px 2px  #dcadd6;
}

.legenda-e-extras{
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.grupo-legenda{
    width: 100%;
    max-width: 1450px;
    border-style: ridge;
}

.titulo-legenda{
    margin: 20px;
}

.legenda{
    margin: 20px;
    padding: 5px;
    font-size: 24px;
}

.extras{
    margin: 20px;
    padding: 5px;
}

.nome-completo{
    visibility:hidden;
}