@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Pizza do Mario</h1>
    
</div>
<center></center><img  class="img-fluid"  src="~/css/MariosPizza.jpeg" alt="Foto Exemplo" width="90%" /></center>